<div id="home-card">

<h1>Welcome to my Blog 🥳</h1>


<% @users.each do |user| %>
<%= link_to "/users/#{user.id}" do %>
<div class="inner-home-card">
    <%= render partial:"shared/users/index" , locals: {user:user} %>
</div>
    <% end %>
<% end %>
</div>


