/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* background-color: orange; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

#home-card,
#show,
#all-posts {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  width: 80%;
  margin: auto;
}

#home-card .inner-home-card {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  background-color: bisque;
  align-items: center;
}

.home-show-card img {
  height: 200px;
  width: 200px;
}

#home-card .inner-home-card img {
  height: 200px;
  width: 200px;
}

.home-show-card b {
  padding-right: 20px;
}

#home-card .inner-home-card b {
  padding-right: 20px;
}

/* show */

.home-show-card {
  display: flex;
  margin: 1rem 0;
  justify-content: space-between;
  background-color: bisque;
  align-items: center;
}

.bio {
  width: 100%;
  height: 200px;
  background: lightsalmon;
  padding: 1rem;
}

.bio p {
  margin-top: 10px;
}

.posts {
  padding: 1rem;
  background: lightblue;
  margin-top: 1rem;
}

.posts .post-title {
  margin: 2rem 0;
}

.posts .post-title p {
  padding-top: 1rem;
}

.likes-comments {
  text-align: right;
}

.posts .likes-comments p {
  display: inline;
}

.all-posts {
  text-align: center;
  margin: 3rem 0;
}

.all-posts a {
  background-color: lightcoral;
  padding: 1rem 2rem;
}

.comments {
  background: lightgoldenrodyellow;
}

#all-posts .comments {
  background: lightgoldenrodyellow;
  padding: 2rem;
  margin: 1rem 0;
}

.post-head {
  display: flex;
  justify-content: space-between;
}

.like-comment {
  display: flex;
}

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}
